[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyxform = "==2.0.2"
ptpython = "*"
watchdog = "==4.0.0"
pandas = "==2.0.0"
openpyxl = "*"
faker = "*"
lorem = "*"
dicttoxml = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
pyxform = "python wile.py"
