#mnm-form {
  // Variables
  @import "variables";
  @import "enketo-core/src/sass/core/variables";

  // Mixins
  @import "enketo-core/src/sass/core/mixins";
  @import "mixins";

  // Core styles
  @import "enketo-core/src/sass/core/utilities";
  @import "enketo-core/src/sass/core/icons";
  @import "enketo-core/src/sass/core/layout";

  @import "enketo-core/src/sass/core/main";
  @import "enketo-core/src/sass/core/pages";

  .form-header {
    position: sticky;
    width: 32px;
    top: -16px;
    z-index: 50001;
    .pages-toc {
      background: white;
    }
  }

  .form-footer {
    margin: 0;
  }

  .form-logo {
    z-index: 5000;
    background: white;
    top: 0px;
    position: sticky;
  }

  // Widgets
  // @import '@/widget/index.scss';
  @import "../../widget/index.scss";

  // Custom styles
  @import "main";
}
